body {
   background-color: rgb(200, 209, 209);

}

@media (max-width: 600px) {

   .left,
   .right {
      float: none;
      width: 100%;
   }
}

.container {
   height: 600px;
   width: 900px;
   margin-left: 350px;
   background-color: grey;
   border-radius: 15px;
}

h1 {
   margin-top: 20px;
   padding-top: 20px;
   font-family: sans-serif;
   color: white;
   text-align: center;
   text-decoration-line: underline;
}


.timer {
   margin-left: 30px;
   float: left;
   box-shadow: aqua;
   border: 1px solid darkgrey;
   width: 250px;
   background-color: darkgray;
   border-radius: 5px;


}

.Reference-text {
   float: right;
   border: 1px solid darkgrey;
   height: 90px;
   width: 510px;
   margin-right: 82px;
   margin-top: 2px;
   background-color: darkgray;
   border-radius: 5px;
   font-family: sans-serif;
   padding: 2px;
   color: rgba(0, 0, 0, 0.793);

}

h2 {
   font-family: sans-serif;
   color: white;
   margin-left: 20px;
}

.btn {
   margin-left: 25px;
   width: 85px;
   margin-bottom: 5px;
   border-radius: 5px;
   background-color: rgba(0, 255, 255, 0.574);
}

textarea {
   height: 250px;
   width: 514px;
   margin-top: 40px;
   margin-left: 300px;
   font-family: sans-serif;
   font-size: x-large;
   border: 1px solid darkgrey;
   border-radius: 10px;
   background-color: darkgrey;
   color: black
}

.left {
   float: left;
   margin-left: 300px;
   border: 1px solid black;
   height: 30px;
   width: 120px;
   margin-top: 35px;
   text-align: center;
   background-color: rgba(0, 255, 255, 0.574);
   border-radius: 5px;
   font-size: larger;
   font-weight: bold;
}

.right {
   float: right;
   margin-right: 80px;
   border: 1px solid black;
   height: 30px;
   width: 120px;
   margin-top: 35px;
   text-align: center;
   background-color: rgba(0, 255, 255, 0.574);
   border-radius: 5px;
   font-size: larger;
   font-weight: bold;
}

.btn-calAccrcy {
   margin-left: 40px;
   margin-top: 35px;
   height: 30px;
   width: 90px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: rgba(0, 255, 255, 0.574);
}

.btn-clear {
   margin-left: 15px;
   margin-top: 10px;
   height: 30px;
   width: 90px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: rgba(0, 255, 255, 0.574);

}